<div class="body">
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color: #c3ffa9;">
        <div class="container">
          <a class="navbar-brand">ERS</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link px-3" href = "#" onclick="return false" (click) = "homepage()">Homepage</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link px-3" href = "#" onclick="return false" (click) = "logout()">Logout</a>
              </li>
            </ul>
          </div>
      </nav>


    <div class = 'request-page'>
        <div class="request-info">
            <span [innerHTML]="category"></span> 
            <span [innerHTML]="value"></span> 
            <span [innerHTML]="requested"></span> 
            <span [innerHTML]="owed"></span> 
            <span [innerHTML]="status"></span>  
        </div>
    </div>
</div>


